@{
    ViewBag.Title = "About";
}
<h1>مالك الموقع : </h1>

<h2>شركة SoftChallengers</h2>
<p>
    <b>شركة متخصصة فى تصميم وتطوير المواقع الالكترونية والتطبيقات ودعمها بخدمات تسويق إحترافية.</b>
</p>
<p><b>الإتصال على : 01148645973 </b></p>
