@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Details";
    ViewBag.SubBannerTitle = "تفاصيل النوع";
    ViewBag.SubBannerUrl = "Create New Role";
    Layout = "~/Views/Shared/_SubLayout-1.cshtml";
}

<div class="update-profile-form container" style="width: 33.3333333%; font-family: myFont, Raleway-bold;">
    <div class="row" style="direction: rtl;">
        <div class="dashboard-list col">
            <h3 class="heading">تفاصيل النوع</h3>
            <div class="dashboard-message contact-1">
                <div class="form-group form-inline">
                    <div class="col-md-2" style="padding-top: 0;">
                        @Html.DisplayNameFor(model => model.Name)
                    </div>
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>
            </div>
            <div class="col-lg-12 form-footer">
                <div class="send-btn">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-md button-theme" })
                </div>
                <div class="back-to-home">
                    <a href="~/Roles">العوده الى القائمه مره أخرى</a>
                </div>
            </div>
        </div>

    </div>
</div>
